---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Abstract Algebra">
  <div class="container">
    <nav class="breadcrumbs"><a href="/notes">Math Notes</a> / Abstract Algebra</nav>
    <h1>Abstract Algebra</h1>
    <p>Work in progress<p>
    </div>
</BaseLayout>
