---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Abstract Algebra">
  <nav class="breadcrumbs">
    <a href="/math">Math Notes</a>
    <span class="divider">/</span>
    <span aria-current="page">Abstract Algebra</span>
  </nav>
  <div class="container">
    <h1>Abstract Algebra</h1>
    <div class="subtopic-list">
      <ul>
      <li><a href="/math/abstract-algebra/groups" class="subtopic-link">Groups</a></li>
      <li><a href="/math/abstract-algebra/fields" class="subtopic-link">Fields</a></li>
      </ul>
    </div>
  </div>
</BaseLayout>
