---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Software Engineering">
  <nav class="breadcrumbs">
    <a href="/cs">Computer Science Notes</a>
    <span class="divider">/</span>
    <span aria-current="page">Software Engineering</span>
  </nav>
  <div class="container">
    <h1>Software Engineering</h1>
    <div class="subtopic-list">
      <ul>
      <li><a href="/cs/software-engineering/design-patterns" class="subtopic-link">Design Patterns</a></li>
      <li><a href="/cs/software-engineering/system-design" class="subtopic-link">System Design</a></li>
      </ul>
    </div>
  </div>
</BaseLayout>
