---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Algorithms">
  <div class="container">
    <nav class="breadcrumbs">
      <a href="/cs">CS Notes</a>
      <span class="divider">/</span>
      <span aria-current="page">Algorithms</span>
    </nav>
    <h1>Algorithms</h1>
    <p>Work in progress</p>
  </div>
</BaseLayout>
