---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Algorithms">
  <nav class="breadcrumbs">
    <a href="/cs">Computer Science Notes</a>
    <span class="divider">/</span>
    <span aria-current="page">Algorithms</span>
  </nav>
  <div class="container">
    <h1>Algorithms</h1>
    <div class="subtopic-list">
      <ul>
      <li><a href="/cs/algorithms/kadane" class="subtopic-link">Kadane</a></li>
      </ul>
    </div>
  </div>
</BaseLayout>
