---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Operating Systems">
  <nav class="breadcrumbs">
    <a href="/cs">Computer Science Notes</a>
    <span class="divider">/</span>
    <span aria-current="page">Operating Systems</span>
  </nav>
  <div class="container">
    <h1>Operating Systems</h1>
    <div class="subtopic-list">
      <ul>
      <li><a href="/cs/operating-systems/introduction-to-operating-systems" class="subtopic-link">Introduction To Operating Systems</a></li>
      <li><a href="/cs/operating-systems/processes-and-concurrency" class="subtopic-link">Processes And Concurrency</a></li>
      </ul>
    </div>
  </div>
</BaseLayout>
