---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Networking">
  <nav class="breadcrumbs">
    <a href="/cs">Computer Science Notes</a>
    <span class="divider">/</span>
    <span aria-current="page">Networking</span>
  </nav>
  <div class="container">
    <h1>Networking</h1>
    <div class="subtopic-list">
      <ul>
      <li><a href="/cs/networking/networking" class="subtopic-link">Networking</a></li>
      <li><a href="/cs/networking/transport-protocols" class="subtopic-link">Transport Protocols</a></li>
      </ul>
    </div>
  </div>
</BaseLayout>
