---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Andre Amor">
  <section class="hero">
    <h1>Nice to meet you, my name is</h1>
    <h2>Andre Amor</h2>
    <h3>Software Engineer & Quantitative Researcher</h3>
    <p>University of Maryland – Class of 2026</p>
  </section>
</BaseLayout>
