---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Partial Differential Equations">
  <div class="container">
    <nav class="breadcrumbs">
      <a href="/notes">Math Notes</a>
      <span class="divider">/</span>
      <span aria-current="page">Partial Differential Equations</span>
    </nav>
    <h1>Partial Differential Equations</h1>
    <p>Work in progress</p>
  </div>
</BaseLayout>
