---
import '../styles/global.css';
import 'katex/dist/katex.min.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.png" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <title>{Astro.props.title ?? 'My Site'}</title>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.js"></script>
  <script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
      const mathElements = document.getElementsByClassName('math');
      for (let el of mathElements) {
        katex.render(el.textContent, el, {
          displayMode: el.classList.contains('display'),
          throwOnError: false,
        });
      }
    });
  </script>
  </head>
  <body>
    <header class="navbar">
      <div class="container">
        <a href="/" class="site-title">Andre Amor</a>
        <nav>
          <ul class="nav-links">
            <li><a href="/#hero">Home</a></li>
            <li><a href="/cs">CS Notes</a></li>
            <li><a href="/notes">Math Notes</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container">
      <slot />
    </main>
  </body>
</html>
